body {
    display: block;
    overflow-x: hidden;
    background-color: #838186;
}

nav {
    background-color: #7952b3;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

nav ul li a {
    font-size: 18px;
    margin: auto 8px;
}
